USE [CTDLGT]
GO
/****** Object:  Table [dbo].[CT_LICHHOC]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LICHHOC](
	[MAPHONG] [nchar](10) NOT NULL,
	[IDLICH] [int] NOT NULL,
	[IDCT] [int] NOT NULL,
	[NGAYBATDAU] [date] NULL,
 CONSTRAINT [PK_CT_LICHHOC_1] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[IDLICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEMCC] [nchar](10) NULL,
	[DIEM_GK] [nchar](10) NULL,
	[DIEM_CK] [nchar](10) NULL,
	[HUYDANGKY] [bit] NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nchar](50) NOT NULL,
	[NGHIVIEC] [bit] NOT NULL CONSTRAINT [DF_GIANGVIEN_NGHIVIEC]  DEFAULT ((0)),
	[MAKHOA] [nchar](10) NOT NULL,
 CONSTRAINT [PK_EMAILGV] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](10) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [money] NOT NULL,
	[NGAYDONG] [date] NULL,
	[SOTIEN] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICHHOC]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHOC](
	[THU] [nchar](10) NOT NULL,
	[CA] [int] NOT NULL,
	[IDLICH] [int] NOT NULL,
 CONSTRAINT [PK_LICHHOC] PRIMARY KEY CLUSTERED 
(
	[THU] ASC,
	[CA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](15) NOT NULL,
	[TENLOP] [nchar](10) NOT NULL,
	[MANGANH] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](11) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] NOT NULL,
	[NIENKHOA] [nchar](10) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ((0)),
	[CTLICHHOC] [int] NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_MAMHNHOM] UNIQUE NONCLUSTERED 
(
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](100) NOT NULL,
	[SOTC] [int] NOT NULL,
	[SOTLT] [int] NOT NULL,
	[SOTTH] [int] NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MANGANH] [nchar](10) NOT NULL,
	[TENNGANH] [nvarchar](50) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY CLUSTERED 
(
	[MANGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nchar](10) NOT NULL,
	[DAY] [nchar](10) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MALOP] [nchar](15) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nchar](70) NOT NULL,
	[NGHIHOC] [bit] NOT NULL CONSTRAINT [DF_SINHVIEN_NGHIHOC]  DEFAULT ((0)),
	[QUEQUAN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](3) NOT NULL CONSTRAINT [DF_SINHVIEN_GIOITINH]  DEFAULT (N'Nam'),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOANSV]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANSV](
	[TENTK] [nchar](20) NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[MATKHAU] [nchar](30) NOT NULL,
 CONSTRAINT [PK_TAIKHOANSV] PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CT_LICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LICHHOC_LICHHOC] FOREIGN KEY([IDLICH])
REFERENCES [dbo].[LICHHOC] ([IDLICH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_LICHHOC] CHECK CONSTRAINT [FK_CT_LICHHOC_LICHHOC]
GO
ALTER TABLE [dbo].[CT_LICHHOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LICHHOC_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_LICHHOC] CHECK CONSTRAINT [FK_CT_LICHHOC_PHONG]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_NGANH]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_CT_LICHHOC] FOREIGN KEY([CTLICHHOC])
REFERENCES [dbo].[CT_LICHHOC] ([IDCT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_CT_LICHHOC]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[NGANH]  WITH CHECK ADD  CONSTRAINT [FK_NGANH_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NGANH] CHECK CONSTRAINT [FK_NGANH_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[TAIKHOANSV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANSV_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANSV] CHECK CONSTRAINT [FK_TAIKHOANSV_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [CK_GIOITINH]
GO
/****** Object:  StoredProcedure [dbo].[exe_deleteInfor]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[exe_deleteInfor] @mamh nchar(10),@nhom int,@mssv nchar(10)
as
begin
	declare @maltc  int
	set @maltc=(select MALTC from LOPTINCHI where MAMH=@mamh and NHOM=@nhom and NIENKHOA='2021-2022' and HOCKY=2)
	delete from DANGKY where DANGKY.MALTC=@maltc and DANGKY.MASV=@mssv
end
GO
/****** Object:  StoredProcedure [dbo].[exe_insertInfor]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[exe_insertInfor] @mamh nchar(10),@nhom int,@mssv nchar(10)
as 
begin
	declare @maltc  int
	set @maltc=(select MALTC from LOPTINCHI where MAMH=@mamh and NHOM=@nhom and NIENKHOA='2021-2022' and HOCKY=2)
	insert into DANGKY(MALTC,MASV,DIEMCC,DIEM_GK,DIEM_CK,HUYDANGKY) values(@maltc,@mssv,null,null,null,null)
end

GO
/****** Object:  StoredProcedure [dbo].[exe_ltc]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[exe_ltc] @manganh nchar(10)
as
begin
	select * from LOPTINCHI,NGANH where NGANH.MANGANH=@manganh and HOCKY=2 and NIENKHOA='2021-2022' and LOPTINCHI.MAKHOA=NGANH.MAKHOA  
end
GO
/****** Object:  StoredProcedure [dbo].[exe_ltcInfor]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[exe_ltcInfor] @manganh nchar(10)
as
begin
	select NGANH.TENNGANH,SVTOITHIEU,CTLICHHOC,NHOM,MAMH,LOPTINCHI.MALTC into #loptc from LOPTINCHI,NGANH where NGANH.MANGANH=@manganh and NGANH.MAKHOA=LOPTINCHI.MAKHOA 
	select MONHOC.TENMH,MONHOC.SOTTH,MONHOC.SOTC,#loptc.MALTC into #monhoc from MONHOC,#loptc where #loptc.MAMH=MONHOC.MAMH
	select CT_LICHHOC.NGAYBATDAU,LICHHOC.CA,LICHHOC.THU,CT_LICHHOC.MAPHONG,#loptc.MALTC into #lichhoc from CT_LICHHOC,LICHHOC,#loptc where CT_LICHHOC.IDCT=#loptc.CTLICHHOC and CT_LICHHOC.IDLICH=LICHHOC.IDLICH
	select distinct TENNGANH,SVTOITHIEU,MAMH,NGAYBATDAU,CA,THU,MAPHONG,TENMH,SOTTH,SOTC,NHOM from #loptc,#lichhoc,#monhoc where #loptc.MALTC=#lichhoc.MALTC and #loptc.MALTC=#monhoc.MALTC
end
GO
/****** Object:  StoredProcedure [dbo].[exe_studentDK]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[exe_studentDK]  @mssv nchar(10)
as
begin
	declare @maltc int 
	select MALTC into #dsltc from DANGKY where DANGKY.MASV=@mssv
	select LOPTINCHI.MAMH,LOPTINCHI.NHOM into #ltc from #dsltc,LOPTINCHI where #dsltc.MALTC=LOPTINCHI.MALTC and LOPTINCHI.NIENKHOA='2021-2022' and HOCKY=2
	select MONHOC.MAMH,MONHOC.TENMH,MONHOC.SOTC,#ltc.NHOM  from MONHOC,#ltc where #ltc.MAMH = MONHOC.MAMH 
	
end

GO
/****** Object:  StoredProcedure [dbo].[exe_thongtin]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[exe_thongtin] @masv nchar(10)
as
begin
	select LOP.MALOP,TENLOP,MANGANH,NIENKHOA,SINHVIEN.MASV,HO,TEN,GIOITINH,QUEQUAN into #tableLOP from LOP,SINHVIEN where SINHVIEN.MASV=@masv AND SINHVIEN.MALOP=LOP.MALOP 
	select #tableLOP.MALOP,#tableLOP.TENLOP,NIENKHOA,NGANH.TENNGANH,MASV,HO,TEN,GIOITINH,QUEQUAN,KHOA.TENKHOA from KHOA,NGANH,#tableLOP where NGANH.MANGANH=#tableLOP.MANGANH AND KHOA.MAKHOA=NGANH.MAKHOA
end
GO
/****** Object:  StoredProcedure [dbo].[exe_tkb]    Script Date: 2/17/2023 3:08:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[exe_tkb] @mssv nchar(10)
as
begin
	select DANGKY.MALTC into #c from DANGKY where MASV=@mssv 
	select MONHOC.TENMH,CTLICHHOC,MONHOC.SOTC into #cc  from LOPTINCHI,#c,MONHOC  where #c.MALTC=LOPTINCHI.MALTC and LOPTINCHI.MAMH=MONHOC.MAMH and HOCKY=2 and NIENKHOA='2021-2022'
	select IDLICH,MAPHONG,TENMH,SOTC into #ccc from #cc,CT_LICHHOC where CT_LICHHOC.IDCT=#cc.CTLICHHOC
	select MAPHONG,TENMH,CA,THU,SOTC from #ccc,LICHHOC where #ccc.IDLICH=LICHHOC.IDLICH
end
GO
